name: PR Code Check

on:
  pull_request:
    branches:
      - main

jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node Environment
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install Project Dependencies
        run: npm install

      - name: Run ESLint
        run: npm run lint
